.Calculator {
  padding: 1.5em;
  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: 0 0 5px gold;
  font-family: 'Founders Grotesk Condensed', 'Founders Grotesk', 'Helvetica', sans-serif;
}

.Calculator .Result {
  border: 0;
  box-shadow: none;
  padding: 0;
}

.Calculator .votes-panel {
  display: flex;
  flex-wrap: wrap;
}

.Calculator .votes-panel .primary {
  flex: 1;
  justify-content: space-around;
  border-width: 2px;
  border-style: solid;
  padding: 6px;
}

.Calculator .votes-panel {
  text-align: center; 
}

.Calculator .votes-panel .number {
  text-align: center;
  font-size: 28px;
}

.Calculator .votes-panel .secondary {
  display: flex;
  flex-wrap: wrap;
}
.Calculator .votes-panel .secondary .control {
  flex: 1;
  justify-content: center;
}

.Calculator input[type=number] {
  width: 3em;
  height: 2em;
  box-sizing: 'content-box';
}
.Calculator .primary {
  margin-right: 0.4em;
}
.Calculator .primary:last-child {
  margin-right: 0;
}
.Calculator .number {
  padding: 1em;
  margin-bottom: 0.5em;
}

.Calculator .primary.red {
  background: rgba(230,51,35,0.1);
  border-color: rgba(230,51,35,1);
}
.Calculator .primary.none {
  background: rgba(251,186,0,0.1);
  border-color: rgba(251,186,0,1);
}
.Calculator .primary.blue {
  background: rgba(0,92,169,0.1);
  border-color: rgba(0,92,169,1);
}

.Calculator .primary.red .number {
  background: rgba(230,51,35,1);
  color: white;
}
.Calculator .secondary-label {
  border-bottom: 1px solid #aaa;
  margin-bottom: 6px;
}
.Calculator .primary.none .number {
  background: rgba(251,186,0,1);
  color: black;
}
.Calculator .primary.blue .number {
  background: rgba(0,92,169,1);
  color: white;
}
.Calculator button.methodButton {
  border: 1px solid rgb(230,51,35);
  margin-right: 1em;
  margin-bottom: 1em;
  background: white;
  padding: 0.6em 0.3em;
  flex: 1;
  color: black;
  outline: none;
}
.Calculator button.methodButton:hover {
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.Calculator button.methodButton:active {
  box-shadow: 0 0 4px rgba(0,0,0,0.5) inset;
}
.Calculator .methodButtons {
  display: flex;
  flex-wrap: wrap;
}

.Calculator button.toggleControls {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  color: rgb(230,51,35);
  padding: 0;
  float: right;
}

@media (max-width: 480px) {

  .Calculator .votes-panel {
    flex-direction: column;
  }
  .Calculator .votes-panel .primary {
    margin-bottom: 2em;
  }

  .Calculator .number {
    padding: 1em;
    margin-bottom: 0.5em;
  }
}
