.Result {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(230,51,35,1);
  padding: 1em;
  font-family: 'Founders Grotesk Condensed', 'Founders Grotesk', 'Helvetica', sans-serif;
}
.Result .result-header {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Founders Grotesk Condensed', 'Founders Grotesk', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 120%;
}
.Result .preference {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.Result .preference.first-order {
  font-size: 14px;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.Result .preference .label {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Result .preference.first-order:last-child {
  margin-right: 0;
}

.Result .preference .label {
  padding: 2px;
}
.Result .second-order .preference {
  padding: 1px;
}

.Result .preference.red .label, .Result .second-order .preference.red {
  background: rgba(230,51,35,1);
  color: white;
}
.Result .preference.none .label, .Result .second-order .preference.none {
  background: rgba(251,186,0,1);
}
.Result .preference.blue .label, .Result .second-order .preference.blue {
  background: rgba(0,92,169,1);
  color: white;
}

.Result .preference .second-order {
  display: flex;
  flex-direction: row;
}

.Result .votering {
  padding: 0 0 0 2em;
  margin-top: 1em;
}
